
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/
coverage/

# Temporary files
tmp/
temp/

# Uploads directory
uploads/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.tgz
